$basic-white: #fff;
$basic-black: #000;
$basic-grey: #aaa;
$basci-light-grey: #f1f2f1;
$basic-orange: #ff7c00;
$basic-orange-transparent: rgba(234, 129, 30, 0.897);
$basic-block-background: #cd5b1d;
$basic-dark: #2a3255;
$basic-cyan: #23f0ff;
