@import '../../styles/variables.scss';

.main-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 51px;
    // height: 600px;
    padding-top: 60px;
}

.main-info__wrap {
    display: flex;
    gap: 50px;
    line-height: 1.4;
    height: 500px;
}

.main-info__text-left {
    align-self: end;
}

.main-info__title-left {
    font-size: 43px;
    font-weight: 900;
    color: $basic-white;
    padding-bottom: 10px;
    text-transform: uppercase;
    max-width: 600px;
    min-width: 600px;
}

.main-info__text {
    font-size: 24px;
    color: $basic-white;
    line-height: 1.4;
}

.main-info__title-right {
    max-width: 357px;
    font-size: 24px;
    font-weight: 700;
    color: $basic-white;
}

/* Blocks Menu */

.blocks {
    min-width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Slider */

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
    transition:
        transform 0.5s linear,
        opacity 0.5s linear;
}

.slide.active {
    transform: translateX(0);
    opacity: 1;
}

.slide.exit {
    transform: translateX(-100%);
    opacity: 0;
}

.main-info__title-left,
.main-info__text,
.main-info__title-right {
    opacity: 0;
    transform: translateY(20px);
    transition:
        opacity 0.6s ease-in-out,
        transform 0.6s ease-in-out;
}

.show-text .main-info__title-left,
.show-text .main-info__text,
.show-text .main-info__title-right {
    opacity: 1;
    transform: translateY(0);
}

.active .main-info__title-left,
.active .main-info__text,
.active .main-info__title-right {
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity 0.6s ease-in-out,
        transform 0.6s ease-in-out;
}

.page-main {
    height: 100vh;
}

.dots {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 100;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.dot--active {
    opacity: 1;
}
