.home-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.home-scroll-container {
    flex: 1;
    // position: absolute;
    // width: 100%;
    // height: 100vh;
    // scroll-snap-type: y mandatory;
}
